body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.game-intro {
  text-align: center;
  padding: 0 20px;
}

h1 {
  font-size: 3em;
}

ul {
  list-style: none;
}

button {
  font-size: 1em;
  width: 30%;
  height: 50px;
  margin: 0 10px;
  border-radius: 5px;
  color: white;
  border: none;
}

#start-button {
  background-color: rgb(3, 205, 205);
}

#restart-button {
  background-color: rgb(243, 92, 92);
}

#game-board {
  padding: 50px 50px;
}

#canvas {
  background-image: url(../images/kitchen.png);
  background-size: 100%;
  background-position: center;
}
