body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

#left-side {
  margin-left: 20px;
  background-color: rgb(252, 252, 201);
  border-radius: 30% 150%;
}

.game-intro {
  text-align: center;
}

h1 {
  font-size: 3em;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  line-height: 30px;
}

.img-goals {
  width: 4%;
  height: 4%;
}

#game-keys {
  width: 12%;
  height: 12%;
}

button {
  font-size: 1em;
  width: 30%;
  height: 50px;
  margin: 0 10px;
  border-radius: 5px;
  color: white;
  border: none;
}

#start-button {
  background-color: rgb(3, 205, 205);
}

#restart-button {
  background-color: rgb(243, 92, 92);
}

#game-board {
  padding: 50px 50px;
}

#canvas {
  background-image: url(../images/kitchen.png);
  background-size: 100%;
  background-position: center;
  border-radius: 2%;
}
